body{
    padding: 0px;
    margin: 0px;
}

.navbar{
    background-image: url("../assets/Background\ 1.jpg");
    background-position: center;
    background-size: cover;
}

.navbar-toggler{
    background-color: #e7a746 !important;
}

.nav-link{
    color: white !important; 
}
.nav-link:hover{
    color: #858FFF !important;
}

.header{
    height: 765px;
    background-color: #888888;
}

.footer{
    height: 96px;
    background-color: #C4C4C4;
    /* background-image: url("../assets/Background\ 1.jpg");
    background-position: center;
    background-size: cover; */
}

.poster-desktop{
    height: 430px;
    background-color: #C4C4C4;
    /* background-color: black; */
}

.poster-ipad{
    height: 430px;
    background-color: #C4C4C4;
    border-radius: 46px;
    background-size: cover;
    /* background-color: black; */
}

.poster-iphone{
    height: 430px;
    background-color: #C4C4C4;
    background-size: contain;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.information-desktop{
    height: 430px;
    background-color: #989898;
}

.information-ipad{
    height: 430px;
    background-color: #989898;
}

.information-iphone{
    height: 260px;
    background-color: #989898;
}

.staff-block{
    height: 220px;
    background-color: #AAAAAA;
}





.image{
    width: 305px;
    height: 420px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.image2{
    width: 500px;
    height: 700px;
    background-position: center;
    background-size: cover;
   
}

.trailer{
    width: 305px;
    height: 420px;
    background-color: red;
    background-position: center;
    background-size: cover;
    float: left;
}