body{
    padding: 0px;
    margin: 0px;
}

.navbar{
    background-image: url("../assets/Background\ 1.jpg");
    background-position: center;
    background-size: cover;
}

.navbar-toggler{
    background-color: #e7a746 !important;
}

.nav-link{
    color: white !important; 
}
.nav-link:hover{
    color: #858FFF !important;
}

.header{
    height: 765px;
    background-color: #888888;
    background-image: url("../assets/Background\ 2.jpg");
    background-position: center;
    background-size: cover;
}

.text-container{
    height: 530px;
    align-items: center;
    background-color: transparent;
}

.title-name{
    text-align: center;
    color: white;
}

.sec-title{
    text-align: center;
    color: white;
}

.intro-text{
    text-align: center;
    color: white;
}

.quote{
    text-align: center;
    color: white;
}

.footer{
    height: 96px;
    /* background-color: #C4C4C4; */
    background-image: url("../assets/Background\ 1.jpg");
    background-position: center;
    background-size: cover;
}

.header2{
    background-image: url("../assets/Background\ 2.jpg");
    background-position: center;
    background-size: cover;
}

.poster-desktop{
    height: 430px;
    /* background-color: #C4C4C4; */
    
}

.poster-ipad{
    height: 430px;
    /* background-color: #C4C4C4; */
    border-radius: 46px;
    background-size: cover;
}

.poster-iphone{
    height: 430px;
    /* background-color: #C4C4C4; */
    background-size: contain;
    justify-content: center;
    align-items: center; 
}

.information-desktop{
    height: 100vh;
    /* background-color: #989898; */
}

.information-ipad{
    height: 430px;
    /* background-color: #989898; */
}

.information-iphone{
    height: 260px;
    /* background-color: #989898; */
}

.staff-block{
    height: 220px;
    background-color: #AAAAAA;
}


.feedback-container{
    height: 530px;
    align-items: center;
    background-color: transparent;
}

form{
    width: 534px;
    height: 109px;
    margin-left: 450px;
}

input{
    width: 534px;
    height: 109px;  
}

h1, h2, h3, p{
    font-family: roboto;
}

a{
    color: white !important;
    text-decoration: none !important;
}

 .title{
    margin-top: 50px;
    font-size: 31px;
    float: left;
}

.title2{
    margin-top: 50px;
    font-size: 31px;
    margin-left: 50px;
    float: left;
}

.year{
    font-size: 16px;
    margin-top: 30px;
    /* margin-left: -500px; */
    float: left;
}

.score{
    font-size: 16px;
    margin-top: 30px;
    margin-left: 70px;
    /* margin-left: -450px; */
    float: left;
}

.rating{
    font-size: 16px;
    margin-top: 30px;
    margin-left: 70px;
    /* margin-left: -400px; */
    float: left;
}

.genre{
    font-size: 16px;
    margin-top: 30px;
    margin-left: 70px;
    /* margin-left: -180px; */
    float: left;
}

.producer{
    font-size: 16px;
    margin-top: 20px;
    float: left;
}

.total-episodes{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 70px;
    float: left;
}

.duration{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 70px;
    float: left;
}

.synopsis-container{
    height: 150px;
    overflow: auto;
}

.synopsis{
    font-size: 15px;
}

button{
    border-radius: 18px !important;
    background-color: #858FFF !important;
}
.btn2{
    width: 123px;
    margin-top: 10px;
    float: left;
}

.btn{
    margin-left: 650px !important;
}
iframe{
    margin-top: 50px !important;
    float: left;
}

.title-container-iphone-one{
    margin-left: 130px;

}

.info-holder-iphone-one{
    margin-left: 50px;
}

.image{
    width: 305px;
    height: 420px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.image2{
    width: 500px;
    height: 700px;
    background-position: center;
    background-size: cover;
   
}

.trailer{
    width: 305px;
    height: 420px;
    background-color: red;
    background-position: center;
    background-size: cover;
    float: left;
}